
<table border="0" cellspacing="0" cellpadding="0">
  <% if @order.user.complete_name? %>
  <tr>
    <td class="info" align="center" style=" font-size: 14px; letter-spacing: 2px; line-height: 1.3; text-align: center; text-transform: uppercase; padding-bottom: 0px; padding-top: 15px;">
      <font face="Georgia,"Times New Roman",Times,serif" color="black">
        Le atendió: <br> <%= @order.user.complete_name %>
    </td>
  </tr>
  <% end %>
  <tr>
    <td class="info" align="center" style=" font-size: 14px; letter-spacing: 2px; line-height: 1.3; text-align: center; text-transform: uppercase; padding-bottom: 1px; padding-top: 1px;">
      <%= image_tag(url_for({:number => @order.number , :controller => 'admin/barby_invoice', :action => 'show', :format => 'png'}), style:'width:100%;' ) %>
    </td>
  </tr>
  <tr>
    <td class="info" style="hyphens: auto; text-align: justify; font-size: 10px; text-transform: uppercase; padding-bottom: 6px; padding-top: 5px;">
      <%= %(Productos GARANTIZADOS POR DEFECTO DE FABRICA hasta por 90 Días. NO CUBRE DAÑOS POR MAL USO. PARA HACER EFECTIVA LA Garantía Deberá PRESENTAR PRODUCTO EN #{@order.ship_address.address1} #{@order.ship_address.address2}, CON recibo de compra ORIGINAL, EMPAQUE Y ACCESORIOS ORIGINALES. NO SE REALIZAN DEVOLUCIONES DE DINERO EN Ningún PRODUCTO.
      (\uFF0A) EN Mercancía DE Liquidación O REMATE NO HAY Garantía, CAMBIOS, NI DEVOLUCIONES. Cualquier producto con costo menor a 100 pesos no tiene garantía.) %>
    </td>
  </tr>
</table>
