@page
 {
		 size:  auto;   /* auto is the initial value */
		 margin: 0mm;  /* this affects the margin in the printer settings */
 }

 html
 {
		 background-color: #FFFFFF;
		 margin: 0px;  /* this affects the margin on the html before sending to printer */
 }

 body
 {
		 border: solid 1px blue ;
		 margin: 1mm 1mm 1mm 1mm; /* margin you want for the content */
		 font-family:"Trebuchet MS";
		 color:#000000;
		 width: 58mm;
 }


div#header {
  text-align: center;
  line-height: 1.3;
  width: 58mm;
}

#header img {
  max-width: 100%;
}

.shop { font-weight: bold; font-size: 40px; line-height: 1.2;}
.info { font-size: 30px; text-align: center; line-height: 1.3; width: 58mm;}

.line_items {
  width: 58mm;
}

div.wrapper {
  width: 58mm;
  text-align: left;
}

div.totals {
}

table.totals {
  width: 58mm;
}


.cell.total {
  text-align: right;
}

.cel1 {
	width: 200px;
}

.cel2 {
  width: 80px;
}


div.footer {
  width: 58mm;
  text-align: center;
}

.footer .bold {
  width: 100px;
}
.footer .cell {
  width: 219px;
}
